# fly.toml app configuration file generated for govote on 2026-02-10T20:56:42-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'govote'
primary_region = 'iad'

[build]
[build.args]
GO_VERSION = '1.26.0'

[[services]]
internal_port = 23234
protocol = "tcp"
auto_start_machines = true
[[services.ports]]
port = 22

[mounts]
source = "ssh_key"
destination = "/data"

[[vm]]
  size = 'shared-cpu-1x'
